@model List<UsuarioVM>

<h1>Lista de usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <td>Email</td>
            <td>Es Admin</td>
            <td>Acción</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@(usuario.EsAdmin ? "✅" : "⛔")</td>
                <td>
                    <a class="btn @(usuario.EsAdmin ? "btn-secondary" : "btn-primary")"
                       asp-action="PermisoAdmin" asp-route-id="@usuario.Id" 
                    asp-route-esAdmin="@usuario.EsAdmin" >
                        @(usuario.EsAdmin ? "Quitar Admin" : "Dar Admin")
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>